* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arima', 'sans-serif';
}
:root {
    --fs-nav-items: 1rem;
    --fs-banner-about: 1.2rem;
    --fs-banner-title: 4.8rem;
    --fs-banner-button: 1rem;
    --fs-nav-contact: 1.1rem;
    --fs-aboutus-title: 3rem; 
    --fs-booking-icon: 3rem;
    --fs-booking-num: 1.9rem;
    --fs-play-icon: 5rem;
    --fs-footer-icon: 1.5rem;
    --fs-yt-close-icon: 1.5rem;

    --color-gold: rgb(185, 140, 27);
}

@media (max-width: 2000px) {
    :root {
        --fs-nav-items: 1rem;
        --fs-banner-about: 1rem;
        --fs-banner-title: 2rem;
        --fs-banner-button: 0.8rem;
        --fs-nav-contact: 1.1rem;
        --fs-aboutus-title: 2rem; 
        --fs-booking-icon: 2rem;
        --fs-booking-num: 1.5rem;
        --fs-play-icon: 4rem;
        --fs-footer-icon: 1.2rem;
        --fs-yt-close-icon: 1.5rem;
    }
    .yt-player iframe {
        width: 100vw !important;
        height: 270px !important;
        font-size: 0.5rem !important;
    }
    .yt-close-button {
        right: 15px !important;
    }
    /* navbar */
    .navbar {
        padding: 20px !important;
        justify-content: space-between !important;
        width: 100% !important;
        align-items: center !important;
    }
    .navbar hr {
        display: none;
    }
    .nav-contact-container {
        display: none !important;
    }
    .navbar-option-container {
        display: none;
    }
    .navbar-logo-container img {
        width: 120px;
        height: auto;
    }
    .hamburger {
        display: inline-block !important;
        font-size: 1.3rem !important;
    }

    /* banner */
    .banner-container {
        height: 80vh !important;
    }
    .banner-content {
        left: unset !important;
        gap: 15px !important;
        max-width: unset !important;
        padding: 10px !important;
        width: 100%  !important;
        align-items: center !important;
        justify-content: center !important;
        text-align: center;
    }
    .banner-title {
        margin-top: 20px !important;
        line-height: 40px !important;
    }
    .banner-png-container {
        display: none;
    }
    .banner-button-container {
        margin-top: 70px !important;
        flex-direction: column !important;
        gap: 30px !important;
    }
    .banner-button-container * {
        margin: auto !important;
    }

    /* aboutus */
    .aboutus-container {
        grid-template-columns: unset !important;
        grid-template-rows: 1fr 1fr !important;
        padding: 20px !important;
        margin: 0 !important;
        margin-bottom: 50px !important;
        height: auto !important;
        gap: 0;
    }

    /* aboutus images */
    .aboutus-image-container {
        flex-direction: row-reverse !important;
        justify-content: start !important;
        margin-top: 0 !important;
        padding: 0 !important;
    }
    .aboutus-img1 {
        max-width: 65vw;
        margin: 0 !important;
    }
    .aboutus-img2 {
        max-width: 30vw;
        right: 0 !important;
    }
    .aboutus-img3 {
        max-width: 40vw;
        right: 0 !important;
        bottom: -40px !important;
    }

    /* aboutus content */
    .aboutus-content {
        width: 100% !important;
        height: max-content !important;

    }
    .aboutus-title {
        line-height: 40px !important;
    }

    /* services */
    .service-container {
        text-align: center;
        margin: 0 !important;
        padding: 50px 5px 100px 5px !important;
        gap: 10px !important;    
        background-size: cover !important;
    }
    .service-title {
        line-height: 40px !important;
    }

    .service-grid {
        grid-template-columns: repeat(2, 45vw) !important;
        justify-content: space-around;
        column-gap: 10px !important;
        row-gap: 10px !important;
    }
    .service-grid-item p {
        padding: 3px 0 !important;
    }

    /* working */
    .play-icon {
        font-size: var(--fs-play-icon) !important; 
    }
    .working {
        grid-template-columns: unset !important ;
        grid-template-rows: 0.8fr 1fr !important;
        margin: 0 !important;
        height: unset !important;
    }
    .working-heading {
        color: var(--color-gold) !important;
        translate: 0 10px !important;
    }
    .working-content {
        color: black !important;
        background-color: white !important;
        padding: 60px 30px !important;
        min-height: 100% !important;
        align-items: center !important;
    }
    .working-grid hr {
        border: 1px dashed rgba(0, 0, 0, 0.5) !important;
    }

    /* booking */
    .booking {
        flex-direction: column !important;
        height: unset !important;
        gap: 30px !important;
        padding: 50px 0 !important;
    }
    .booking-img {
        object-fit: cover !important;
    }

    .booking-container {
        padding: 0 10px !important;
        text-align: center !important;
        align-items: center !important;
    }
    .booking-title {
        line-height: 40px !important;
    }
    .booking-button {
        margin-top: 40px !important;
    }

    /* footer */
    .footer-container {
        grid-template-columns: unset !important;
        grid-template-rows: repeat(3, 1) !important;
        gap: 30px !important;
        padding: 20px !important;
    }
    .footer-container * {
        align-items: start !important;
        gap: 10px !important;
    }
    .sec-1 {
        gap: 20px !important;
    }
    
    .contact-item i {
        translate: 0 3px !important;
    }
    .sec-3 i {
        padding: 10px !important;
    }

    /* end footer */
    .end-footer {
        padding: 0 20px !important;
        text-align: center !important;
        height: 80px !important;
    }
}




.yt-player {
    position: fixed;
    height: 100vh;
    width: 100vw;;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}
.yt-player iframe {
    width: 800px;
    height: 400px;
}
.yt-frame-container {
    position: relative;
}
.yt-close-button {
    color: white;
    font-size: var(--fs-yt-close-icon);
    cursor: pointer;
    top: -30px;
    right: -20px;
    position: absolute;
}
header {
    background-image: url(./image/banner-bg-1.jpg);
    color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.navbar {
    display: flex;
    min-height: 40px;
    padding: 30px 40px;
    width: 100%;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(60, 60, 60);
    background-color: rgba(0, 0, 0, 0.2);
}
.navbar-logo-container {
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar hr {
    border: 1px solid rgb(60, 60, 60);
    align-self: stretch;
}
header .fa-phone {
    height: max-content;
    display: flex;
    align-items: center;
    font-size: .9rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: 1px solid white;
    padding: 12px;
}
.logo {
    height: 50px;
}
.nav-contact-container {
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-contact-container p {
    font-size: var(--fs-nav-contact);
    letter-spacing: 1.5px;
}
.navbar-list {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
    font-size: 1.09rem;
}
.navbar-list a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.book-btn {
   padding: 15px 30px; 
   background-color: rgb(185, 140, 27);
   border: none;
   color: white;
   font-size: var(--fs-nav-items);
   font-weight: bold;
}

.banner-container {
    height: 100vh;
    position: relative;
}
.hamburger-menu {
    display: none;
    width: 100%;
    position: absolute;
    background-color: white;
    color: black;
    z-index: 10;
    top: 0;
}
.hamburger-menu :nth-child(even) {
    background-color: rgb(248, 248, 248);
    padding: 10px 35px;
}
.hamburger-item {
    padding: 10px 30px;
    font-weight: 600;
    font-size: var(--fs-banner-about);
    border-bottom: 0.5px solid rgb(190, 190, 190);
}

.banner-content {
    z-index: 1;
    max-width: 55%;
    position: absolute;
    top: 15%;
    left: 8%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
.banner-about {
    font-size: var(--fs-banner-about);
    font-weight: 600;
    color: rgb(185, 140, 27);
}
.banner-title {
    font-size: var(--fs-banner-title);
    font-weight: 600;
    line-height: 100px;
}
.banner-button-container {
    display: flex;
    gap: 40px;
    margin-top: 30px;
}
.read-more-btn {
    padding: 15px 30px; 
    background-color: rgb(185, 140, 27);
    border: none;
    color: white;
    font-size: var(--fs-banner-button);
    font-weight: bold;
}
.view-service-btn {
    padding: 15px 30px; 
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(185, 140, 27);
    color: rgb(185, 140, 27);
    font-size: var(--fs-banner-button);
    font-weight: bold;
}
.banner-png-container {
    position: absolute;
    bottom: 0;
    right: 0;
}
.banner-png-container img {
    height: 95vh;
    translate: 0 8px;
}


/* about us */
.aboutus-container {
    display: grid;
    align-items: center;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

/* about us image */
.aboutus-image-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.aboutus-img1 {
    margin-right: 190px;
    z-index: 0;
}
.aboutus-img2 {
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 0;
}
.aboutus-img3 {
    position: absolute;
    z-index: 1;
    bottom: -90px;
    padding: 15px 0 0 15px;
    background-color: white;
}

/* about us content */
.aboutus-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    width: 500px;
    gap: 10px;
}
.aboutus-heading {
    color: var(--color-gold);
    font-size: var(--fs-banner-about);
    font-weight: 600;
}
.aboutus-title {
    font-size: var(--fs-aboutus-title);
    font-weight: 600;
    line-height: 60px;
}

.aboutus-content button {
    margin-top: 40px;
    padding: 15px 30px; 
   background-color: var(--color-gold);
   border: none;
   color: white;
   font-size: var(--fs-banner-button);
   font-weight: bold;
}
.aboutus-description {
    font-size: var(--fs-nav-items);
}
.aboutus-mini {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}
.aboutus-mini p {
    font-size: var(--fs-banner-about);
}
.aboutus-mini hr {
    align-self: stretch;
    width: 3px;
    background-color: var(--color-gold);
}

/* services */
.service-container {
    background-image: url(./image/banner-bg-2.jpg);
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    background-color: rgb(19, 19, 19);
    color: white;
    padding: 100px 0;
}
.service-heading {
    font-size: var(--fs-banner-about);
    font-weight: 600;
    color: var(--color-gold);
}
.service-title {
    font-size: var(--fs-aboutus-title);
    font-weight: 600;
    line-height: 60px;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
    margin-top: 40px;
}
.service-grid-item {
    display: flex;
    flex-direction: column;
}
.service-grid-item p {
    background-color: var(--color-gold);
    text-align: center;
    padding: 6px 0;
    font-size: var(--fs-banner-about);
    font-weight: 600;
}


/* working */
.working {
    height: 75vh;
    margin: 100px;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
}
.working-container {
    position: relative;
    background-image: url(./image/working.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play-icon {
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    position: absolute;
    font-size: var(--fs-play-icon);
    color: white;
    background-color: var(--color-gold);
    border-radius: 50%;
}
.working-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: white;
    background-color: var(--color-gold);
    gap: 15px;
    padding: 50px;
}
.working-heading {
    font-size: var(--fs-banner-about);
    font-weight: 600;
}
.working-title {
    font-size: var(--fs-aboutus-title);
    font-weight: 600;
    line-height: 60px;
}
.working-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}
.working-grid hr {
    border: 1px dashed rgba(255, 255, 255, 0.5);
}
.working-grid-item {
    display: flex;
    justify-content: space-between;
}
.working-day {
    font-size: var(--fs-banner-about);
    font-weight: 600;
}
.working-date {
    font-size: var(--fs-banner-about);
    font-weight: 600;
}
.working-button {
    margin-top: 40px;
    padding: 15px 30px; 
   border: 1px solid white;
   background-color: var(--color-gold);
   color: white;
   font-size: var(--fs-banner-button);
   font-weight: bold;
}

/* booking */
.booking {
    position: relative;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content:center;
    height: 60vh;
    background-size: cover;
    background-color: rgb(0, 0, 0, 0.9);
}
.booking-img {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.booking-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 700px;
}


.booking-heading {
    font-size: var(--fs-banner-about);
    font-weight: 600;
    color: var(--color-gold);
}
.booking-title {
    color: white;
    font-size: var(--fs-aboutus-title);
    font-weight: 600;
    line-height: 60px;
}
.booking-button {
    margin-top: 40px;
    padding: 15px 30px; 
   background-color: var(--color-gold);
   border: none;
   color: white;
   font-size: var(--fs-banner-button);
   font-weight: bold;
}
.booking-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 25px 30px;
    max-width: 400px;
    gap: 10px;
    border-radius: 15px;
}
.booking-box i {
    display: flex;
    align-items: center;
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    font-size: var(--fs-booking-icon);
    color: var(--color-gold);
    background-color: rgba(185, 140, 27, 0.1);
    padding: 2rem;
}
.booking-call {
    font-size: var(--fs-banner-about);
    font-weight: 600;
}
.booking-num {
    font-size: var(--fs-booking-num);
    font-weight: 600;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
}
.footer-container {
    color: white;
    background-color: #0f1212;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 300px 300px 300px;
    width: 100%;
    padding: 60px 0;
}
.sec-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: #cccccc;
}
.sec-1 p {
    font-size: var(--fs-banner-button);
}
.sec-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: #999999;
}
.contact-item p {
    font-size: var(--fs-banner-button);
}
.sec-2-heading {
    font-size: var(--fs-booking-num);
    font-weight: 600;
    color: var(--color-gold);
}
.contact-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contact-item {
    display: flex;
    align-items: center;
    gap: 15px;
}
.sec-2 i {
    font-size: var(--fs-banner-button);
    color: var(--color-gold);
}

.sec-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.social-container {
    display: flex;
    gap: 20px;
    font-size: var(--fs-footer-icon);
    color: #565656;
}
.sec-3 i {
    border: 1px solid #565656;
    padding: 10px;
    border-radius: 50%;
}
.sec-3 p {
    font-size: var(--fs-booking-num);
    color: var(--color-gold);
    font-weight: 600;
}

.end-footer {
    display: flex;
    height: 100px;
    font-size: var(--fs-banner-button);
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #161919;
}
.end-footer a {
    color: var(--color-gold);
}
